
/* Banner logo and background */

header {
  background-color: #9cd6f4;
  background-blend-mode: normal;
  background-image: url(../img/pattern.png);
  background-size: 400px;
  background-repeat: repeat;
  width: 100%;
  height: 100px;
  text-align: left;
  position: relative;
  padding: 0%;
  margin: 0%;

}  

/* booleaner logo */

.logo {
    width: 15%;
    height: auto;
    padding-top: 2%;
    padding-left: 15%;
    
}

/* Main space */

main {
    width: 80%;
    margin: 0 auto; /* Center the main element */ 
    padding: 0%;
    border: 0%;
}  

.pics {
    height: 70%;
    padding-top: 3%;
}  
  
.sub {
    height: 70%;
    color: grey;
    display: block;
    margin: 0%;
    padding: 0%;

}  

.title {
    font-size: 2em;
    margin-top: 3%;
    margin-bottom: 0%;
    padding: 0%;
}

.blue {
    color: #9cd6f4;
}

.date {
    color: grey;
    font-size: 0.8em;
    margin: 0%;
    padding: 0%;
}
  
.first {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    font-size: x-small;
}
  
.article {
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0%;
    font-size: smaller;
}
   
.higlight {
    font-weight: 300;
    background-color: #eeee06;   
}
  
.list {
    font-size: smaller;
    margin: 0%; 
    padding-left: 1.5%; 
    
}

table {
    border: 1px solid #ffffff;
    width: 100%;
    margin: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
}

th {
    background-color: #7fa6fb;
    color: white;
    padding: 5px;
    width: 200px; 
    height: 10px; 
    font-size: smaller;
}

.line1 {
    background-color: #dfe5f2;
    font-size: smaller;
}

.line2 {
    background-color: #ffffff;
    font-size: smaller;
}